# xcode noise
LiquorLocator/build/*
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile

images/
*.pyc
*~
*anjuta*
*sqlite*
output.log
*\#

.scrapy

# Eclipse
.classpath
.project

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java